<% content_for :title, "New Product" %>

<div class="page-wrapper">
  <div class="page-header header-fix">
    <h1 class="page-title">New Product</h1>

    <%= link_to "⬅ Back", products_path, class: "btn btn-purple btn-back" %>
  </div>

  <div class="form-center">
    <div class="glass-card form-glass">
      <%= render "form", product: @product %>
    </div>
  </div>
</div>
