body {
  background-color: #0f172a;   
  color: #c7d2fe;              
}

.one {
  background-color: #1e293b;  
  color: #a5b4fc;             

        width:270px;
        padding: 10px;
        display: inline-block;
        margin-top: 20px;
        margin-right: 5px;
    }

    .one:hover{
        background-color: #2c71e0 ;
    }

 .buttomStyle {
  display: inline-block;
  padding: 8px 16px;
  background-color: #6366f1; 
  color:#d7dbee;
  text-decoration: none; 
  border-radius: 30px; 
  font-size: 16px;
}


.header{
    h1{
         padding-left: 50px;
        display: inline-block;
    }
    h2{
        padding-left: 1000px;
        display: inline-block;
    }
    background-color: #1e293b;
}

.buttomStyle:hover{
    background-color: #0c1119;
    cursor: pointer;

}